*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1vw;
  line-height: 1.4285714286vw;
  color: #222222;
}

.wrapper {
  overflow: hidden;
}

.container {
  width: 84.2857142857vw;
  margin: 0 auto;
}

.headline {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 3.2142857143vw;
  line-height: 3.5714285714vw;
}

.title {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 1.7142857143vw;
  line-height: 2.1428571429vw;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.1428571429vw;
  line-height: 1.4285714286vw;
  color: #222222;
}

.btn {
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1vw;
  line-height: 1.4285714286vw;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all 0.2s;
  height: 4.2857142857vw;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn--orange {
  background: linear-gradient(91.83deg, #FF3D00 0%, #FFC700 100%), linear-gradient(91.83deg, #AD00FF 0%, #FF00C7 100%), #FFFFFF;
  box-shadow: 0px 16px 24px rgba(243, 170, 24, 0.16), 0px 6px 12px rgba(243, 170, 24, 0.16);
}

.header {
  background-image: url("../images/lines.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 2.8571428571vw;
}

.header__mid {
  display: flex;
  justify-content: space-between;
  margin-top: 7.1428571429vw;
}
.header__mid .btn {
  margin-top: 1.4285714286vw;
}
.header__mid .title {
  margin-top: 2.8571428571vw;
}

.header__title {
  width: 50%;
}

.video {
  width: 50%;
}
.video img {
  width: 100%;
}

.header__bot {
  display: flex;
  margin-top: 4.2857142857vw;
}

.header__bot-item {
  width: 25%;
  display: flex;
  margin-right: 2.8571428571vw;
}
.header__bot-item:last-child {
  margin-right: 0;
}

.header__advantages {
  width: 2.8571428571vw;
  height: 2.8571428571vw;
  margin-right: 0.7142857143vw;
}
.header__advantages img {
  display: block;
  height: 100%;
  object-fit: cover;
}

.prof {
  margin-top: 5.7142857143vw;
  background: linear-gradient(160.43deg, #F3E7E9 0%, #E3EEFF 100%);
}

.prof__inner {
  padding: 2.8571428571vw 0;
  position: relative;
}

.prof__inner::before {
  content: "<h2>";
  position: absolute;
  top: -1.2142857143vw;
  left: 0;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-size: 5.1428571429vw;
  line-height: 6vw;
  text-transform: uppercase;
  color: rgba(137, 79, 255, 0.1);
}

.prof__item {
  padding: 1.4285714286vw;
  background-color: #fff;
  margin: 0 0.7142857143vw;
}

.prof__item-img {
  margin: -1.4285714286vw -1.4285714286vw 0 -1.4285714286vw;
}
.prof__item-img img {
  display: block;
  width: 100%;
}

.prof__item-name {
  margin-top: 1.4285714286vw;
}

.prof__item-descr {
  margin-top: 1.0714285714vw;
}

.prof__item-date {
  margin-top: 1.0714285714vw;
  font-size: 1vw;
}

.prof__item-cost {
  margin-top: 1.4285714286vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  line-height: 2.1428571429vw;
  font-size: 1.1428571429vw;
}
.prof__item-cost span {
  font-size: 1.4285714286vw;
}

.prof__item-btn {
  margin-top: 1.4285714286vw;
}

.prof__slider {
  position: relative;
  margin: 0 -0.7142857143vw;
}
.prof__slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
  font-size: 0;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  width: 1.4285714286vw;
  height: 0.5714285714vw;
  border: none;
  background-color: transparent;
  padding: 0;
}
.prof__slider .slick-arrow:hover {
  opacity: 0.5;
}
.prof__slider .slick-prev {
  left: -2.8571428571vw;
}
.prof__slider .slick-next {
  right: -2.8571428571vw;
  transform: rotate(180deg);
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.form__inner {
  padding: 4.2857142857vw 0;
}

.form__social {
  margin-top: 1.0714285714vw;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.1428571429vw;
  line-height: 1.4285714286vw;
}
.form__social a {
  text-decoration: none;
}

.viber {
  color: #894FFF;
}

.whatsapp {
  color: #2FA84F;
}

.telegram {
  color: #2A89CD;
}

.form__field {
  margin: 1.7857142857vw -0.7142857143vw 0 -0.7142857143vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__item {
  width: 33.3%;
  margin: 0 0.7142857143vw;
}
.form__item .form__name,
.form__item .form__tel {
  padding-left: 1.4285714286vw;
  color: rgba(34, 34, 34, 0.5);
  border: none;
  width: 100%;
  height: 4.2857142857vw;
  background: linear-gradient(160.43deg, #E2EEFF 0%, rgba(230, 240, 255, 0.6) 100%);
}
.form__item .form__input {
  width: 100%;
  height: 4.2857142857vw;
  border: none;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 1vw;
  line-height: 1.4285714286vw;
  letter-spacing: 0.01em;
  text-align: center;
  color: #FFFFFF;
}

.advantage {
  position: relative;
  background: linear-gradient(164.74deg, #FEF7DF 0%, #F0DCCB 100%), linear-gradient(164.74deg, #FFECBC 0%, #BEEEF0 100%), linear-gradient(160.43deg, #E3EEFF 0%, #F3E7E9 100%);
}

.advantage__inner {
  padding: 2.8571428571vw 0 2.8571428571vw 0;
}

.advantage__inner::before {
  content: "<section>";
  position: absolute;
  top: -1.0714285714vw;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 84px;
  text-transform: uppercase;
  color: rgba(253, 160, 133, 0.12);
}

.advantage__inner::after {
  content: "advantage-block {}";
  position: absolute;
  top: 8.2142857143vw;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-size: 2.1428571429vw;
  line-height: 2.5714285714vw;
  text-transform: uppercase;
  color: #FDA085;
  opacity: 0.12;
}

.advantage__title {
  width: 66%;
}

.advantage__items {
  display: flex;
  flex-wrap: wrap;
  margin: 2.8571428571vw -0.7142857143vw 0 -0.7142857143vw;
}

.advantage__item {
  width: 32%;
  background-color: #fff;
  margin: 0.5714285714vw;
  padding: 1.4285714286vw;
}

.advantage__item-desr {
  margin-top: 0.7142857143vw;
}

/*# sourceMappingURL=style.css.map */
