*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1vw;
  line-height: 1.4285714286vw;
  color: #222222;
}

.fixed {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
}

.container {
  width: 84.2857142857vw;
  margin: 0 auto;
}

.headline {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 3.2142857143vw;
  line-height: 3.5714285714vw;
}

.title {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 1.7142857143vw;
  line-height: 2.1428571429vw;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.0714285714vw;
  line-height: 1.4285714286vw;
  color: #222222;
  text-decoration: none;
}

.btn {
  cursor: pointer;
  margin-top: 1.0714285714vw;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 1vw;
  line-height: 1.2857142857vw;
  text-align: center;
  text-transform: uppercase;
  transition: 0.6s;
  padding: 0.3571428571vw 1.4285714286vw;
  height: 4.2857142857vw;
  color: white;
  border: none;
  position: relative;
  box-shadow: 0px 16px 24px rgba(243, 170, 24, 0.16), 0px 6px 12px rgba(243, 170, 24, 0.16);
  background: linear-gradient(100.12deg, #ff3d00 0, #ffc700 100%), #fff;
}
.btn span {
  position: relative;
  display: flex;
  min-height: 40px;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.btn input {
  display: none;
}

.btn::after,
.btn::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  transition: all 0.6s;
  opacity: 0;
  z-index: 0;
}

.btn::before {
  box-shadow: 0px 16px 24px rgba(243, 170, 24, 0.16), 0px 6px 12px rgba(243, 170, 24, 0.16);
  background: linear-gradient(100.12deg, #ff3d00 0, #ffc700 100%), #fff;
}

.btn::after {
  box-shadow: 0px 16px 24px rgba(243, 170, 24, 0.16), 0px 6px 12px rgba(243, 170, 24, 0.16);
  background: linear-gradient(100.12deg, #ffd130 0, #ff6b00 100%), #fff;
}

.btn:hover::after {
  opacity: 1;
}

.header {
  background-image: url("../images/lines.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 2.8571428571vw;
}

.logo {
  width: 12.5vw;
  height: 3.2142857143vw;
}
.logo img {
  display: block;
  width: 100%;
  height: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  z-index: 50;
  top: 0;
  left: -100vw;
  height: 100vh;
  width: 100vw;
  transition: all 0.3s;
  background: linear-gradient(160.43deg, #F3E7E9 0%, #E3EEFF 100%);
}
.nav__list {
  text-align: center;
  width: 100%;
}
.nav__item {
  margin-bottom: 1.0714285714vw;
  width: 100%;
}
.nav .text {
  font-size: 1.2857142857vw;
  transition: all 0.3s;
}
.nav .text:hover {
  opacity: 0.5;
}

.click {
  position: relative;
  text-align: center;
}

.click::before {
  content: ".click{}";
  position: absolute;
  top: -70%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-size: 5.1428571429vw;
  line-height: 6vw;
  text-transform: uppercase;
  color: rgba(137, 79, 255, 0.1);
}

.nav.active {
  left: 0;
}

.burger {
  display: block;
  width: 2.1428571429vw;
  height: 1.3571428571vw;
  z-index: 60;
  position: relative;
  cursor: pointer;
}
.burger::before, .burger::after {
  content: "";
  background-color: #222222;
  position: absolute;
  right: 0;
  width: 100%;
  height: 0.1428571429vw;
  transition: all 0.3s;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}
.burger span {
  background-color: #222222;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.6428571429vw;
  height: 0.1428571429vw;
  transition: all 0.3s;
}
.burger:hover::before, .burger:hover::after {
  width: 1.6428571429vw;
}
.burger:hover span {
  width: 100%;
}

.burger.active::before {
  transform: rotate(45deg);
  top: 0.5714285714vw;
}
.burger.active::after {
  transform: rotate(-45deg);
  bottom: 0.5714285714vw;
}
.burger.active span {
  display: none;
}
.burger.active:hover::before, .burger.active:hover::after {
  width: 100%;
}

.header__mid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 7.1428571429vw;
}
.header__mid .title {
  margin-top: 2.8571428571vw;
}
.header__mid .btn {
  margin-top: 2.4285714286vw;
}

.header__title {
  width: 50%;
}

.only-mobile {
  display: none;
}

.video {
  width: 50%;
}
.video img {
  width: 100%;
}

.header__bot {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4.2857142857vw;
}

.header__bot-item {
  width: 22%;
  display: flex;
  margin-right: 2.8571428571vw;
}
.header__bot-item:last-child {
  margin-right: 0;
}

.header__advantages {
  width: 2.8571428571vw;
  height: 2.8571428571vw;
  margin-right: 0.7142857143vw;
}
.header__advantages img {
  display: block;
  height: 100%;
  object-fit: cover;
}

.prof {
  margin-top: 5.7142857143vw;
  background: linear-gradient(160.43deg, #F3E7E9 0%, #E3EEFF 100%);
}

.prof__inner {
  padding: 2.8571428571vw 0;
  position: relative;
}

.prof__inner::before {
  content: "<h2>";
  position: absolute;
  top: -1.2142857143vw;
  left: 0;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-size: 5.1428571429vw;
  line-height: 6vw;
  text-transform: uppercase;
  color: rgba(137, 79, 255, 0.1);
}

.prof__item {
  padding: 1.4285714286vw;
  background-color: #fff;
  margin: 0 0.7142857143vw;
}

.prof__item-img {
  margin: -1.4285714286vw -1.4285714286vw 0 -1.4285714286vw;
}
.prof__item-img img {
  display: block;
  width: 100%;
}

.prof__item-name {
  margin-top: 1.4285714286vw;
}

.prof__item-descr {
  margin-top: 1.0714285714vw;
}

.prof__item-date {
  margin-top: 1.0714285714vw;
  font-size: 1vw;
}

.prof__item-cost {
  margin-top: 1.4285714286vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  line-height: 2.1428571429vw;
  font-size: 1.1428571429vw;
}
.prof__item-cost span {
  font-size: 1.4285714286vw;
}

.prof__slider {
  position: relative;
  margin: 0 -0.7142857143vw;
}
.prof__slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
  font-size: 0;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  width: 1.4285714286vw;
  height: 0.5714285714vw;
  border: none;
  background-color: transparent;
  padding: 0;
  transition: all 0.3s;
}
.prof__slider .slick-arrow:hover {
  opacity: 0.5;
}
.prof__slider .slick-prev {
  left: -2.8571428571vw;
}
.prof__slider .slick-next {
  right: -2.8571428571vw;
  transform: rotate(180deg);
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.form--second {
  margin-bottom: 1.0714285714vw;
  background: linear-gradient(164.74deg, #FFECBC 0%, #BEEEF0 100%), linear-gradient(160.43deg, #E3EEFF 0%, #F3E7E9 100%);
}

.form__inner {
  padding: 4.2857142857vw 0;
}

.form__social {
  margin-top: 1.0714285714vw;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.1428571429vw;
  line-height: 1.4285714286vw;
}
.form__social a {
  text-decoration: none;
}

.viber {
  color: #894FFF;
}

.whatsapp {
  color: #2FA84F;
}

.telegram {
  color: #2A89CD;
}

.form__field {
  margin: 1.7857142857vw -0.7142857143vw 0 -0.7142857143vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.form__item {
  width: 31%;
  margin: 0 0.7142857143vw;
}
.form__item .form__name,
.form__item .form__tel {
  padding-left: 1.4285714286vw;
  color: rgba(34, 34, 34, 0.5);
  border: none;
  width: 100%;
  height: 4.2857142857vw;
  background: linear-gradient(160.43deg, #E2EEFF 0%, rgba(230, 240, 255, 0.6) 100%);
}
.form__item .form__name--second,
.form__item .form__tel--second {
  background: #fff;
}

.advantage {
  position: relative;
  background: linear-gradient(164.74deg, #FEF7DF 0%, #F0DCCB 100%), linear-gradient(164.74deg, #FFECBC 0%, #BEEEF0 100%), linear-gradient(160.43deg, #E3EEFF 0%, #F3E7E9 100%);
}

.advantage__inner::before {
  content: "<section>";
  position: absolute;
  top: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 5vw;
  line-height: 3.5714285714vw;
  text-transform: uppercase;
  color: rgba(253, 160, 133, 0.12);
}

.advantage__inner::after {
  content: ".advantage-block {}";
  position: absolute;
  padding: 0;
  top: 8.4285714286vw;
  z-index: 10;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-size: 2.1428571429vw;
  line-height: 2.5714285714vw;
  text-transform: uppercase;
  color: #FDA085;
  opacity: 0.12;
}

.advantage__title {
  width: 66%;
  padding-top: 2.8571428571vw;
}

.advantage__items {
  display: flex;
  flex-wrap: wrap;
  margin: 2.8571428571vw -0.7142857143vw 0 -0.7142857143vw;
  padding-bottom: 2.8571428571vw;
}

.advantage__item {
  z-index: 20;
  width: 32%;
  background-color: #fff;
  margin: 0.5714285714vw;
  padding: 1.4285714286vw;
}

.advantage__item-desr {
  margin-top: 0.7142857143vw;
}

.testimonials__inner {
  padding: 4.2857142857vw 0;
}

.testimonials__item {
  margin: 1.4285714286vw 0.7142857143vw 0 0.7142857143vw;
  padding: 1.4285714286vw;
  text-align: center;
  background: linear-gradient(160.43deg, #F3E7E9 0%, #E3EEFF 100%), #FFFFFF;
}

.testimonials__photo {
  width: 100%;
  height: auto;
}

.testimonials__photo img {
  width: 7.1428571429vw;
  height: 7.1428571429vw;
}

.testimonials__photo::before,
.testimonials__photo::after {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 5vw;
  line-height: 6vw;
  text-align: center;
  text-transform: uppercase;
  color: #894FFF;
  opacity: 0.1;
  vertical-align: middle;
}

.testimonials__photo::before {
  content: "<";
}

.testimonials__photo::after {
  content: ">";
}

.testimonials__name {
  margin-top: 0.7142857143vw;
}

.testimonials__prof {
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 1vw;
  line-height: 1.4285714286vw;
  margin-top: 0.3571428571vw;
}

.testimonials__review {
  margin-top: 1.0714285714vw;
}

.testimonials__works {
  margin-top: 3.2142857143vw;
  color: #5693FF;
}

.testimonials__slider {
  position: relative;
  margin: 0 -0.7142857143vw;
}

.testimonials__slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
  font-size: 0;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  width: 1.4285714286vw;
  height: 0.5714285714vw;
  border: none;
  background-color: transparent;
  padding: 0;
}

.testimonials__slider .slick-arrow:hover {
  opacity: 0.5;
}

.testimonials__slider .slick-prev {
  left: -2.8571428571vw;
}

.testimonials__slider .slick-next {
  right: -2.8571428571vw;
  transform: rotate(180deg);
}

.about {
  position: relative;
  margin-top: 4.2857142857vw;
}

.about__inner::before {
  content: ".about {}";
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-size: 5vw;
  line-height: 3.5714285714vw;
  text-transform: uppercase;
  color: rgba(137, 79, 255, 0.1);
  position: absolute;
  top: -3.2142857143vw;
}

.about__content {
  display: flex;
  flex-wrap: wrap;
  margin: 3.2142857143vw 0;
}

.about__items {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.about__item {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.about__item:nth-child(3),
.about__item:nth-child(4) {
  margin-top: 5.7142857143vw;
}

.about__item-img {
  max-width: 30%;
  width: 2.8571428571vw;
  height: 2.8571428571vw;
  margin-right: 1.4285714286vw;
}
.about__item-img img {
  display: block;
  height: 100%;
  object-fit: cover;
}

.about__descr {
  width: 50%;
  padding-left: 0.7142857143vw;
}
.about__descr a {
  color: #5693FF;
  text-decoration: none;
}
.about__descr--name {
  margin: 1.0714285714vw 0;
}

.photo__inner {
  padding: 4.2857142857vw 0;
}

.photo__descr {
  margin-top: 1.0714285714vw;
}

.photo__items {
  margin: 1.7857142857vw -0.7142857143vw;
}

.photo__item {
  margin: 0 0.7142857143vw;
}
.photo__item .photo__img {
  width: 27.1428571429vw;
  height: 23.2142857143vw;
}
.photo__item .photo__img img {
  display: block;
  width: 100%;
}

.form--second .text {
  margin-top: 1.0714285714vw;
}

.form__descr--second {
  margin-top: 1.4285714286vw;
  opacity: 0.5;
}
.form__descr--second a {
  color: #222222;
}

.form__inner--second {
  position: relative;
  overflow: hidden;
}

.form__inner--second::before {
  content: "</form>";
  font-family: "Lato", sans-serif;
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: 800;
  font-size: 5vw;
  line-height: 3.5714285714vw;
  text-transform: uppercase;
  color: #5693FF;
  opacity: 0.1;
}

.map__head {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4.2857142857vw;
}

.map__head-title,
.map__head-data {
  width: 50%;
  padding-right: 7.1428571429vw;
}

.map__head-descr {
  margin-top: 1.0714285714vw;
}

.map__item {
  margin-top: 3.9285714286vw;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 2.8571428571vw 0;
}
.gallery__item {
  width: 16.6%;
  height: 14.0714285714vw;
  margin-top: -0.0714285714vw;
  cursor: pointer;
}
.gallery__item img {
  display: block;
  height: 100%;
  width: 100%;
}

.footer {
  background-color: #222222;
  padding: 2.8571428571vw 0;
  position: relative;
  overflow: hidden;
}

.footer::before {
  content: "<footer>";
  position: absolute;
  top: -0.3571428571vw;
  right: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 2.1428571429vw;
  line-height: 2.1428571429vw;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.05;
}

.footer__contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__soc {
  display: flex;
  flex-wrap: wrap;
  width: 33%;
}

.footer__soc-vk,
.footer__soc-inst {
  margin-right: 1.4285714286vw;
  cursor: pointer;
  transition: all 0.2s;
  width: 2.8571428571vw;
  height: 2.8571428571vw;
}
.footer__soc-vk img,
.footer__soc-inst img {
  display: block;
  width: 100%;
  height: 100%;
}

.footer__soc-vk:hover,
.footer__soc-inst:hover {
  opacity: 0.5;
}

.footer__address {
  color: #5693FF;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 66%;
}
.footer__address .dl-link {
  width: 20vw;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.1428571429vw;
  line-height: 1.4285714286vw;
  text-align: right;
  text-decoration: none;
  color: #5693FF;
}
.footer__address .tel {
  width: 14.2857142857vw;
  text-align: right;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.7142857143vw;
  line-height: 2.1428571429vw;
  text-align: right;
  color: #5693FF;
}

.footer__copy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #ffffff;
  margin-top: 2.8571428571vw;
}

.footer__copy-info {
  display: flex;
  flex-wrap: wrap;
}
.footer__copy-info p {
  margin-right: 2.8571428571vw;
}

.footer__copy-dl {
  opacity: 0.5;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.7);
  top: 0;
  left: 0;
  z-index: 60;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup__content {
  padding: 3.5714285714vw 1.4285714286vw 1.4285714286vw 1.4285714286vw;
  margin: 1.4285714286vw;
  background-color: #fff;
  position: relative;
}

.popup__close {
  width: 1.5vw;
  height: 1.5vw;
  position: absolute;
  right: 1.4285714286vw;
  top: 1.4285714286vw;
}

.poput__text {
  margin-top: 1.0714285714vw;
}

@media (max-width: 1024px) {
  .popup__content {
    padding: 15.625vmin 6.25vmin 6.25vmin 6.25vmin;
    margin: 6.25vmin;
  }

  .popup__close {
    width: 6.5625vmin;
    height: 6.5625vmin;
    right: 6.25vmin;
    top: 6.25vmin;
  }

  .poput__text {
    margin-top: 4.6875vmin;
  }
}
@media (max-width: 1024px) {
  body {
    font-size: 3.75vmin;
    line-height: 6.25vmin;
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }

  .headline {
    font-size: 6.25vmin;
    line-height: 10vmin;
  }

  .title {
    font-size: 7.5vmin;
    line-height: 9.375vmin;
  }

  .text {
    font-size: 4.375vmin;
    line-height: 6.25vmin;
  }

  .logo {
    width: 54.6875vmin;
    height: 14.0625vmin;
  }

  .header__title,
.video {
    width: 100%;
  }

  .header__title p {
    display: none;
  }

  .header__bot-item {
    width: 100%;
  }

  .btn {
    cursor: pointer;
    margin-top: 4.6875vmin;
    font-size: 4.375vmin;
    line-height: 5.625vmin;
    padding: 1.5625vmin 6.25vmin;
    height: 18.75vmin;
    box-shadow: 0px 16px 24px rgba(243, 170, 24, 0.16), 0px 6px 12px rgba(243, 170, 24, 0.16);
    background: linear-gradient(100.12deg, #ff3d00 0, #ffc700 100%), #fff;
  }
  .btn span {
    position: relative;
    display: flex;
    min-height: 12.5vmin;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .header__top {
    padding-top: 12.5vmin;
  }

  .nav__item {
    margin-bottom: 4.6875vmin;
  }
  .nav .text {
    font-size: 5.625vmin;
  }

  .click {
    position: relative;
  }

  .click::before {
    content: ".click{}";
    position: absolute;
    top: -70%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22.5vmin;
    line-height: 26.25vmin;
  }

  .burger {
    width: 9.375vmin;
    height: 5.9375vmin;
  }
  .burger::before, .burger::after {
    content: "";
    height: 0.625vmin;
  }
  .burger span {
    width: 7.1875vmin;
    height: 0.625vmin;
  }
  .burger:hover::before, .burger:hover::after {
    width: 7.1875vmin;
  }

  .burger.active::before {
    top: 2.5vmin;
  }
  .burger.active::after {
    bottom: 2.5vmin;
  }

  .header__mid {
    margin-top: vvminw(100);
    flex-direction: column;
  }
  .header__mid .title {
    margin-top: 12.5vmin;
  }
  .header__mid .video {
    margin: 0 -5.5%;
    width: 100vw;
  }
  .header__mid .header__title {
    position: relative;
  }
  .header__mid .header__title .btn {
    display: none;
  }
  .header__mid .header__title .only-mobile {
    margin: 6.25vmin 0;
  }
  .header__mid .only-mobile {
    display: block;
    font-family: "Lato", sans-serif;
    font-size: 4.0625vmin;
    line-height: 6.25vmin;
  }

  .header__bot {
    margin-top: 6.25vmin;
  }

  .header__bot-item {
    margin-top: 9.375vmin;
  }

  .header__advantages {
    width: 12.5vmin;
    height: 12.5vmin;
    margin-right: 3.125vmin;
  }

  .prof {
    margin-top: 12.5vmin;
  }

  .prof__inner {
    padding: 12.5vmin 0;
  }

  .prof__inner::before {
    top: -5.3125vmin;
    font-size: 22.5vmin;
    line-height: 26.25vmin;
  }

  .prof__slider {
    margin: 0 -5%;
  }

  .prof__item {
    padding: 6.25vmin;
    margin: 0 3.125vmin;
    margin-top: 6.25vmin;
  }

  .prof__item-img {
    margin: -6.25vmin -6.25vmin 0 -6.25vmin;
  }

  .prof__item-name {
    margin-top: 6.25vmin;
  }

  .prof__item-descr {
    margin-top: 4.6875vmin;
    font-size: 3.75vmin;
  }

  .prof__item-date {
    margin-top: 4.6875vmin;
    font-size: 3.75vmin;
  }

  .prof__item-cost {
    margin-top: 6.25vmin;
    line-height: 9.375vmin;
    font-size: 5vmin;
  }
  .prof__item-cost span {
    font-size: 6.25vmin;
  }

  .slick-list {
    overflow: visible;
  }

  .slick-track {
    display: flex;
  }

  .slick-slide {
    opacity: 0.5;
    transition: all 0.3s;
  }

  .slick-slide.slick-current {
    opacity: 1;
  }

  .form--second {
    margin-bottom: 4.6875vmin;
  }

  .form__inner {
    padding: 12.5vmin 0;
  }

  .form__social {
    margin-top: 4.6875vmin;
    font-size: 5vmin;
    line-height: 6.25vmin;
  }

  .form__item {
    width: 100%;
    margin: 3.125vmin 0;
  }
  .form__item .form__name,
.form__item .form__tel {
    padding-left: 6.25vmin;
    height: 18.75vmin;
  }
  .form__item .form__input {
    height: 18.75vmin;
    font-size: 4.375vmin;
    line-height: 6.25vmin;
  }

  .advantage__inner::before {
    font-size: 16.5625vmin;
    line-height: 15.625vmin;
  }

  .advantage__inner::after {
    top: 57.8125vmin;
    font-size: 8.4375vmin;
    line-height: 11.25vmin;
  }

  .advantage__title {
    width: 100%;
    padding-top: 12.5vmin;
  }

  .advantage__items {
    margin: 6.25vmin -3.125vmin 0 -3.125vmin;
    padding-bottom: 12.5vmin;
  }

  .advantage__item {
    width: 100%;
    margin: 2.5vmin;
    padding: 6.25vmin;
  }

  .advantage__item-desr {
    margin-top: 3.125vmin;
  }

  .testimonials__review {
    display: none;
  }

  .testimonials__inner {
    padding: 9.375vmin 0;
  }

  .testimonials__item {
    margin: 6.25vmin 3.125vmin 0 3.125vmin;
    padding: 3.125vmin;
  }

  .testimonials__photo img {
    width: 25vmin;
    height: 25vmin;
  }

  .testimonials__photo::before,
.testimonials__photo::after {
    font-size: 15.625vmin;
    line-height: 26.25vmin;
  }

  .testimonials__name {
    margin-top: 3.125vmin;
  }

  .testimonials__prof {
    font-size: 3.75vmin;
    line-height: 6.25vmin;
    margin-top: 1.5625vmin;
    margin-bottom: 4.6875vmin;
  }

  .testimonials__works {
    margin-top: 4.6875vmin;
  }

  .about {
    margin-top: 9.375vmin;
  }

  .about__inner::before {
    font-size: 20.3125vmin;
    line-height: 15.625vmin;
    top: -14.0625vmin;
  }

  .about__content {
    margin: 12.5vmin 0 0 0;
  }

  .about__items {
    width: 100%;
  }

  .about__item {
    flex-direction: column;
    width: 40%;
  }

  .about__item:nth-child(3),
.about__item:nth-child(4) {
    margin-top: 12.5vmin;
  }

  .about__item:nth-child(1),
.about__item:nth-child(3) {
    margin-right: 10%;
  }

  .about__item-img {
    width: 12.5vmin;
    height: 12.5vmin;
    margin-right: 6.25vmin;
  }

  .about__item-descr {
    margin-top: 4.6875vmin;
  }

  .about__descr {
    width: 100%;
    margin-top: 7.8125vmin;
  }
  .about__descr--name {
    margin: 4.6875vmin 0;
  }

  .photo__inner {
    padding: 12.5vmin 0;
  }

  .photo__descr {
    margin: 4.6875vmin 0;
  }

  .photo__items {
    margin: 0;
  }

  .photo__item {
    margin: 0 3.125vmin;
  }
  .photo__item .photo__img {
    width: 100%;
    height: auto;
  }

  .photo__items .slick-slide {
    opacity: 1;
    width: 80vmin;
  }

  .form--second .text {
    margin-top: 4.6875vmin;
  }

  .form__descr--second {
    margin-top: 6.25vmin;
  }

  .form__inner--second::before {
    font-size: 20.3125vmin;
    line-height: 15.625vmin;
  }

  .map__head {
    margin-top: 12.5vmin;
  }

  .map__head-title,
.map__head-data {
    width: 100%;
    padding-right: 0;
  }

  .map__head-descr {
    margin-top: 4.6875vmin;
  }

  .map__item {
    margin-top: 6.25vmin;
  }

  .map__head-address {
    margin-top: 4.6875vmin;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 12.5vmin 0;
  }
  .gallery__item {
    width: 33.3%;
    height: auto;
    margin-top: -0.3125vmin;
    cursor: pointer;
  }
  .gallery__item:nth-child(10), .gallery__item:nth-child(11), .gallery__item:nth-child(12) {
    display: none;
  }

  .footer {
    padding: 12.5vmin 0;
  }

  .footer::before {
    top: -1.5625vmin;
    font-size: 9.375vmin;
    line-height: 9.375vmin;
  }

  .footer__soc {
    width: 100%;
  }

  .footer__soc-vk,
.footer__soc-inst {
    margin-right: 6.25vmin;
    width: 12.5vmin;
    height: 12.5vmin;
  }

  .footer__address {
    width: 100%;
    justify-content: start;
  }
  .footer__address .dl-link {
    width: 87.5vmin;
    font-size: 5vmin;
    line-height: 6.25vmin;
    text-align: left;
    margin-top: 6.25vmin;
    order: 1;
  }
  .footer__address .tel {
    width: 62.5vmin;
    font-size: 7.5vmin;
    line-height: 9.375vmin;
    text-align: left;
    display: block;
    margin-top: 6.25vmin;
    order: 0;
  }

  .footer__copy {
    margin-top: 12.5vmin;
  }
  .footer__copy-info {
    display: flex;
    flex-direction: column;
  }
  .footer__copy p {
    margin-right: 12.5vmin;
  }
}

/*# sourceMappingURL=style.css.map */
