// RESPONSICE 
// ======================================================

@media (max-width: 1024px) {
    
    body{
    
        font-size: vmin(12);
        line-height: vmin(20);
    }
    .container{
        width: 90%;
        margin: 0 auto;
    }
    // headline 
    .headline {
    
        font-size: vmin(20);
        line-height: vmin(32);
    
    }
    .title {
    
        font-size: vmin(24);
        line-height: vmin(30);  
    }
    .text {
    
        font-size: vmin(14);
        line-height: vmin(20);
    
    }
        // header 
    
        .logo{
            width: vmin(175);
            height: vmin(45);
        }
        .header__title,
        .video {
            width: 100%;
        }
        .header__title{
            p {
                display: none;
            }
        }
        .header__bot-item{
            width: 100%;
        }

        // button 
        // button 
    .btn {
        cursor: pointer;
        margin-top: vmin(15);
        font-size: vmin(14);
        line-height: vmin(18);
        padding: vmin(5) vmin(20);
        height: vmin(60);
        box-shadow: 0px 16px 24px rgba(243, 170, 24, 0.16), 0px 6px 12px rgba(243, 170, 24, 0.16);
        background: linear-gradient(100.12deg,#ff3d00 0,#ffc700 100%),#fff;

        

        span{
            position: relative;
            display: flex;
            min-height: vmin(40);
            align-items: center;
            justify-content: center;
            z-index: 1;
     

    }

    }





        .header__top {
            padding-top: vmin(40);
        }
    
        // nav 
    .nav{

    
        &__item{
            margin-bottom: vmin(15);
        }
        .text{
            font-size: vmin(18);
        }
    }
    .click{
        position: relative;
    
    }
    .click::before{
        content: ".click{}";
        position: absolute;
        top: -70%;
        left: 50%;
        transform: translateX(-50%);
    
        font-size: vmin(72);
        line-height: vmin(84);
    }
    
    // burger 
    .burger{
        width: vmin(30);
        height: vmin(19);
        &::before,
        &::after{
            content: "";
            height: vmin(2);
        }
        span{
            width: vmin(23);
            height: vmin(2);
    
        }
        &:hover {
            &::before,
            &::after{
                width: vmin(23);
            }
        }
    }
    
    .burger.active{
        &::before{
            top: vmin(8);
        }
        &::after{
            bottom: vmin(8);
        }
    }
    
    // header mid 
    .header__mid {
        margin-top: vvminw(100);
        flex-direction: column;

        .title{
            margin-top: vmin(40);
        }
        .video{
            margin: 0 -5.5%;
            width: 100vw;
            img{
            }
        }
        .header__title{
            position: relative;
            .btn{
                display: none;
            }
            .only-mobile{
                margin: vmin(20) 0;
            }
        }
        .only-mobile{
            display: block;
            font-family: $font-1;
            font-size: vmin(13);
            line-height: vmin(20);
        }
    }
    
    // header bot 
    .header__bot {
        margin-top: vmin(20);
    }
    .header__bot-item {
        margin-top: vmin(30);
    
    }
    .header__advantages {
        width: vmin(40);
        height: vmin(40);
        margin-right: vmin(10);
    
    }
    
    // prof 
    .prof {
        margin-top: vmin(40);
    }
    .prof__inner {
        padding: vmin(40) 0;
    }
    .prof__inner::before{
        top: vmin(-17);
        font-size: vmin(72);
        line-height: vmin(84);
    }
    .prof__slider{
        margin: 0 -5%;
    
    }
    .prof__item {
        padding: vmin(20);
        margin: 0 vmin(10);
        margin-top: vmin(20);
    }
    .prof__item-img {
        margin: vmin(-20) vmin(-20) 0 vmin(-20);
    }
    .prof__item-name {
        margin-top: vmin(20);
    }
    .prof__item-descr {
        margin-top: vmin(15);
        font-size: vmin(12);
    
    }
    .prof__item-date {
        margin-top: vmin(15);
        font-size: vmin(12);
    }
    .prof__item-cost {
        margin-top: vmin(20);
        line-height: vmin(30);
        font-size: vmin(16);
    
        span{
            font-size: vmin(20);
        }
    }

    
    // slider 
    
    .slick-list {
        overflow: visible;
    }
    .slick-track{
        display: flex;
    
    }
    .slick-slide{
        opacity: 0.5;
        transition: all 0.3s;

    }
    .slick-slide.slick-current{
        opacity: 1;
    }
    
    
    // form 
    .form {
        &--second{
            margin-bottom: vmin(15);
        }
    }
    
    .form__inner {
        padding: vmin(40) 0;
    
    }
    .form__title {
    }
    
    .form__social {
        margin-top: vmin(15);
        font-size: vmin(16);
        line-height: vmin(20);
    }
    
    .form__item {
        width: 100%;
        margin: vmin(10) 0;
        .form__name,
        .form__tel{
            padding-left: vmin(20);
            height: vmin(60);
        }
    
        .form__input{
            height: vmin(60);
            font-size: vmin(14);
            line-height: vmin(20);
        }
    
    }
    
    // advantages 
    
    .advantage__inner::before{
        font-size: vmin(53);
        line-height: vmin(50);
    }
    .advantage__inner::after{
        top: vmin(185);
        font-size: vmin(27);
        line-height: vmin(36);
        }
    .advantage__title {
        width: 100%;
        padding-top: vmin(40);
    }
    
    .advantage__items {
        margin: vmin(20) vmin(-10) 0 vmin(-10);
        padding-bottom: vmin(40);
    }
    
    .advantage__item {
        width: 100%;
        margin: vmin(8);
        padding: vmin(20);
    }
    .advantage__item-desr {
        margin-top: vmin(10);
    }
    
    // testimonials 
    .testimonials__review{
        display: none;
    }
    
    .testimonials__inner {
        padding: vmin(30) 0;
    }
    
    .testimonials__item {
        margin: vmin(20) vmin(10) 0 vmin(10);
        padding: vmin(10);
        
    }
    
    .testimonials__photo img {
        width: vmin(80);
        height: vmin(80);
    
    }
    
    .testimonials__photo::before,
    .testimonials__photo::after{
        font-size: vmin(50);
        line-height: vmin(84);
    }
    .testimonials__name {
        margin-top: vmin(10);
    }
    .testimonials__prof {
        font-size: vmin(12);
        line-height: vmin(20);
        margin-top: vmin(5);
        margin-bottom: vmin(15);
    }
    .testimonials__works {
        margin-top: vmin(15);
    }
    
    
    // about 
    .about {
        margin-top: vmin(30);
    }
    .about__inner {
    }
    .about__inner::before {
        font-size: vmin(65);
        line-height: vmin(50);
        top: vmin(-45);
    }
    
    .about__content {
        margin: vmin(40) 0 0 0;
    }
    .about__items {
        width: 100%;
    }
    .about__item {
        flex-direction: column;
        width: 40%;
    }
    .about__item:nth-child(3),
    .about__item:nth-child(4) {
        margin-top: vmin(40);
    }
    .about__item:nth-child(1),
    .about__item:nth-child(3){
        margin-right: 10%;
    
    }
    .about__item-img {
        width: vmin(40);
        height: vmin(40);
        margin-right: vmin(20);
    }
    .about__item-descr{
        margin-top: vmin(15);
    }
    
    
    .about__descr{
        width: 100%;
        margin-top: vmin(25);
        &--name{
            margin: vmin(15) 0;
        }
    }
    
    // photo 
    
    .photo__inner {
        padding: vmin(40) 0;
    }
    
    .photo__descr {
        margin: vmin(15) 0;
    }
    .photo__items {
        margin: 0;
    
    }
    .photo__item { 
        margin: 0 vmin(10);
        .photo__img{
            width: 100%;
            height: auto;
        }
    }
    .photo__items .slick-slide{
        opacity: 1;
        width: vmin(256);
    }
    // form--second 
    .form--second{
        .text{
            margin-top: vmin(15);
        }
    }
    .form__descr--second{
        margin-top: vmin(20);
    }
    .form__inner--second::before{
        font-size: vmin(65);
        line-height: vmin(50);
    }
    // map 
    .map__head {
        margin-top: vmin(40);
    }
    .map__head-title,
    .map__head-data {
        width: 100%;
        padding-right: 0;
    }
    .map__head-descr {
        margin-top: vmin(15);
    }
    .map__item{
        margin-top: vmin(20);
    }
    .map__head-address {
        margin-top: vmin(15);
    }
    
    
    .gallery{
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        margin:vmin(40) 0;
    
    
        &__item{
            width: 33.3%;
            height: auto;
            margin-top: vmin(-1);
            cursor: pointer;
        }
        &__item:nth-child(10),
        &__item:nth-child(11),
        &__item:nth-child(12){
            display: none;
        }
        
    }
    
    // footer 
    .footer {
        padding: vmin(40) 0;
    }
    .footer::before{
        top: vmin(-5);
        font-size: vmin(30);
        line-height: vmin(30);
    }
    .footer__soc {
        width: 100%;
    }
    .footer__soc-vk,
    .footer__soc-inst {
        margin-right: vmin(20);
        width: vmin(40);
        height: vmin(40);
    }
    .footer__address {
        width: 100%;
        justify-content: start;
    
        .dl-link{
            width: vmin(280);
            font-size: vmin(16);
            line-height: vmin(20);
            text-align: left;
            margin-top: vmin(20);
            order: 1;
    
        }
        .tel{
            width: vmin(200);
            font-size: vmin(24);
            line-height: vmin(30);
            text-align: left;
            display: block;
            margin-top: vmin(20);
            order: 0;
    
        }
    }
    .footer__copy {
        margin-top: vmin(40);
        &-info{
            display: flex;
            flex-direction: column;
        }
    
        p{
            margin-right: vmin(40);
        }
    }
    
    
    
    
    }