
@function vw($value, $base: 1400) {
    @return $value / $base * 100vw;
}

@function vmin($value, $base: 320) {
    @return $value / $base * 100vmin;
}


// var 
$font-1: 'Lato', sans-serif;
$font-2: 'Montserrat', sans-serif;




*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    font-family: $font-1;
    font-weight: 400;
    font-size: vw(14);
    line-height: vw(20);
    color: #222222;
}
.fixed{
    overflow: hidden;
}
.wrapper{
    overflow: hidden;
}
.container{
    width: vw(1180);
    margin: 0 auto;
}

// headline 
.headline {
    font-family: $font-2;
    font-weight: 800;
    font-size: vw(45);
    line-height: vw(50);
}
.title {
    font-family: $font-1;
    font-weight: 600;
    font-size: vw(24);
    line-height: vw(30);  
}
.text {
    font-family: $font-2;
    font-weight: bold;
    font-size: vw(15);
    line-height: vw(20);
    color: #222222;
    text-decoration: none;
}

// button 
    .btn {
        border: none;
        font-family: $font-2;
        font-weight: 600;
        font-size: vw(14);
        line-height: vw(20);
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        text-decoration: none;
        height: vw(60);
        padding: 0 vw(25);
        display: flex;
        flex-direction: column;
        justify-content: center;

        &--orange{
            cursor: pointer;
            position: relative;
            transition: .3s;
            background: linear-gradient(91.83deg, #FF3D00 0%, #FFC700 100%), linear-gradient(91.83deg, #AD00FF 0%, #FF00C7 100%), #FFFFFF;
            box-shadow: 0px 16px 24px rgba(243, 170, 24, 0.16), 0px 6px 12px rgba(243, 170, 24, 0.16);
                        
        }
    }

// header 
.header {
    background-image: url("../images/lines.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
// header top 
.header__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: vw(40);
}
.logo {
    width: vw(175);
    height: vw(45);
    img{
        display: block;
        width: 100%;
        height: 100%;
    }
}

// nav
.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    z-index: 50;
    top: 0;
    left: -100vw;
    height: 100vh;
    width: 100vw;
    transition: all 0.3s;
    background: linear-gradient(160.43deg, #F3E7E9 0%, #E3EEFF 100%);
    
    &__list{

        text-align: center;
        width: 100%;
    }

    &__item{
        margin-bottom: vw(15);
        width: 100%;
    }
    .btn{
        width: max-content;
        margin: 0 auto;
    }
    .text{
        font-size: vw(18);
        transition: all 0.3s;
        &:hover{
            opacity: 0.5;
        }
    }
}
.click{
    position: relative;
}
.click::before{
    content: ".click{}";
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);


    font-family: $font-1;
    font-weight: 800;
    font-size: vw(72);
    line-height: vw(84);
    text-transform: uppercase;

    color: rgba(137, 79, 255, 0.1);
}


.nav.active{
    left: 0;
}
// burger 

.burger{
    display: block;
    width: vw(30);
    height: vw(19);
    z-index: 60;
    position: relative;
    cursor: pointer;
    &::before,
    &::after{
        content: "";
        background-color: #222222;
        position: absolute;
        right: 0;
        width: 100%;
        height: vw(3);
        transition: all 0.3s;
    }
    &::before{
        top: 0;
    }
    &::after{
        bottom: 0;
    }
    span{
        background-color: #222222;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: vw(23);
        height: vw(3);
        transition: all 0.3s;
    }
    &:hover {
        &::before,
        &::after{
            width: vw(23);
        }
        span {
            width: 100%;
        }
    }
}

.burger.active{
    &::before{
        transform: rotate(45deg);
        top: vw(8);
    }
    &::after{
        transform: rotate(-45deg);
        bottom: vw(8);
    }
    span{
        display: none;
    }
    &:hover {
        &::before,
        &::after{
            width: 100%;
        }
    }
}
// header mid 
.header__mid {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;

    margin-top: vw(100);
    .btn{
        margin-top: vw(20);
    }
    .title{
        margin-top: vw(40);
    }
}
.header__title {
    width: 50%;
}

.only-mobile{
    display: none;
}
.video {
    width: 50%;
    img{
        width: 100%;
    }
}

// header bot 
.header__bot {
    display: flex;
    flex-wrap: wrap;
    margin-top: vw(60);
}
.header__bot-item {
    width: 22%;
    display: flex;
    margin-right: vw(40);
    &:last-child{
        margin-right: 0;
    }
}
.header__advantages {
    width: vw(40);
    height: vw(40);
    margin-right: vw(10);
    img{
        display: block;
        height: 100%;
        object-fit: cover;
    }
}

// prof

.prof {
    margin-top: vw(80);
    background: linear-gradient(160.43deg, #F3E7E9 0%, #E3EEFF 100%);
}
.prof__inner {
    padding: vw(40) 0;
    position: relative;
}
.prof__inner::before{
    content: "<h2>";
    position: absolute;
    top: vw(-17);
    left: 0;


    font-family: $font-1;
    font-weight: 800;
    font-size: vw(72);
    line-height: vw(84);
    text-transform: uppercase;

    color: rgba(137, 79, 255, 0.1);
}


.prof__item {
    padding: vw(20);
    background-color: #fff;
    margin: 0 vw(10);
}
.prof__item-img {
    margin: vw(-20) vw(-20) 0 vw(-20);

    img{
        display: block;
        width: 100%;

    }
}
.prof__item-name {
    margin-top: vw(20);
}
.prof__item-descr {
    margin-top: vw(15);
}
.prof__item-date {
    margin-top: vw(15);
    font-size: vw(14);
}
.prof__item-cost {
    margin-top: vw(20);
    font-family: $font-2;
    font-weight: 800;
    line-height: vw(30);
    font-size: vw(16);

    span{
        font-size: vw(20);
    }
}
.prof__item-btn{
    margin-top: vw(20);



}

// slider 
.prof__slider {
    position: relative;
    margin: 0 vw(-10);

    .slick-arrow{
        position: absolute;
        top: 50%;
        z-index: 10;
        transform: translateY(-50%);
        font-size: 0;
        background-image: url('../images/arrow.svg');
        background-repeat: no-repeat;
        width: vw(20);
        height: vw(8);
        border: none;
        background-color: transparent;
        padding: 0;
        transition: all 0.3s;

        &:hover{
            opacity: 0.5;
        }
    }
    .slick-prev{
        left:vw(-40);
    }
    .slick-next{
        right:vw(-40);
        transform: rotate(180deg);
    }
}
.slick-list {
    overflow: hidden;
}
.slick-track{
    display: flex;
}

// form 
.form {
    &--second{
        margin-bottom: vw(15);
        background: linear-gradient(164.74deg, #FFECBC 0%, #BEEEF0 100%), linear-gradient(160.43deg, #E3EEFF 0%, #F3E7E9 100%);
    }
}

.form__inner {
    padding: vw(60) 0;

}
.form__social {
    margin-top: vw(15);
    font-family: $font-2;
    font-weight: bold;
    font-size: vw(16);
    line-height: vw(20);

    a{
        text-decoration: none;
    }
}
.viber {
    color: #894FFF;
}
.whatsapp {
    color: #2FA84F;
}
.telegram {
    color: #2A89CD;
}
.form__field {
    margin: vw(25) vw(-10) 0 vw(-10);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}
.form__item {
    width: 31%;
    margin: 0 vw(10);
    .form__name,
    .form__tel{
        padding-left: vw(20);
        color: rgba(34, 34, 34, 0.5);
        border: none;
        width: 100%;
        height: vw(60);
        background: linear-gradient(160.43deg, #E2EEFF 0%, rgba(230, 240, 255, 0.6) 100%);
    }
    .form__name--second,
    .form__tel--second{
        background: #fff;
    }

    .form__input{
        width: 100%;
        height: vw(60);
        border: none;

        border: none;
        font-family: $font-2;
        font-weight: 600;
        font-size: vw(14);
        line-height: vw(20);
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        transition: all 0.2s;

        text-align: center;
        color: #FFFFFF;




    }

}


// advantages 
.advantage {
    position: relative;
    background: linear-gradient(164.74deg, #FEF7DF 0%, #F0DCCB 100%), linear-gradient(164.74deg, #FFECBC 0%, #BEEEF0 100%), linear-gradient(160.43deg, #E3EEFF 0%, #F3E7E9 100%);
}

.advantage__inner::before{
    content: "<section>";
    position: absolute;
    top: 0;


    font-family: $font-1;
    font-style: normal;
    font-weight: 800;
    font-size: vw(70);
    line-height: vw(50);
    text-transform: uppercase;

    color: rgba(253, 160, 133, 0.12);

}
.advantage__inner::after{
    content: ".advantage-block {}";
    position: absolute;
    padding: 0;
    top: vw(118);
    z-index: 10;

    font-family: $font-1;
    font-weight: 800;
    font-size: vw(30);
    line-height: vw(36);
    text-transform: uppercase;

    color: #FDA085;

    opacity: 0.12;
    }
.advantage__title {
    width: 66%;
    padding-top: vw(40);
}

.advantage__items {
    display: flex;
    flex-wrap: wrap;
    margin: vw(40) vw(-10) 0 vw(-10);
    padding-bottom: vw(40);
}

.advantage__item {
    z-index: 20;
    width: 32%;
    background-color: #fff;
    margin: vw(8);
    padding: vw(20);
}

.advantage__item-desr {
    margin-top: vw(10);
}

// testimonials 

.testimonials__inner {
    padding: vw(60) 0;
}

.testimonials__item {
    margin: vw(20) vw(10) 0 vw(10);
    padding: vw(20);
    text-align: center;
    background: linear-gradient(160.43deg, #F3E7E9 0%, #E3EEFF 100%), #FFFFFF;
}
.testimonials__photo {
    width: 100%;
    height: auto;


}
.testimonials__photo img {
    width: vw(100);
    height: vw(100);
    

}

.testimonials__photo::before,
.testimonials__photo::after{
    font-family: $font-1;
    font-style: normal;
    font-weight: 800;
    font-size: vw(70);
    line-height: vw(84);
    text-align: center;
    text-transform: uppercase;

    color: #894FFF;

    opacity: 0.1;
    vertical-align: middle;



}

.testimonials__photo::before {
    content: "<";
}
.testimonials__photo::after {
    content: ">";
}
.testimonials__name {
    margin-top: vw(10);
}
.testimonials__prof {
    font-family: $font-1;
    font-style: italic;
    font-weight: 300;
    font-size: vw(14);
    line-height: vw(20);
    margin-top: vw(5);
}
.testimonials__review {
    margin-top: vw(15);
}
.testimonials__works {
    margin-top: vw(45);
    color: #5693FF;
}

// testimonals slider 

.testimonials__slider {
    position: relative;
    margin: 0 vw(-10);
  }
  .testimonials__slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    font-size: 0;
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    width: vw(20);
    height: vw(8);
    border: none;
    background-color: transparent;
    padding: 0;
  }
  .testimonials__slider .slick-arrow:hover {
    opacity: 0.5;
  }
  .testimonials__slider .slick-prev {
    left: vw(-40);
  }
  .testimonials__slider .slick-next {
    right: vw(-40);
    transform: rotate(180deg);
  }

// about 

.about {
    position: relative;
    margin-top: vw(60);
}

.about__inner::before {
    content: ".about {}";
    font-family: $font-1;
    font-weight: 800;
    font-size: vw(70);
    line-height: vw(50);
    text-transform: uppercase;

    color: rgba(137, 79, 255, 0.1);
    position: absolute;
    top: vw(-45);
}

.about__content {
    display: flex;
    flex-wrap: wrap;
    margin: vw(45) 0;
}
.about__items {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
.about__item {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.about__item:nth-child(3),
.about__item:nth-child(4) {
    margin-top: vw(80);
}
.about__item-img {
max-width: 30%;

    width: vw(40);
    height: vw(40);
    margin-right: vw(20);
    img{
        display: block;
        height: 100%;
        object-fit: cover;
    }

}





.about__descr{
    width: 50%;
    padding-left: vw(10);

    a {
        color: #5693FF;
        text-decoration: none;
    }
    &--name{
        margin: vw(15) 0;
    }

}

// photo 

.photo__inner {
    padding: vw(60) 0;
}

.photo__descr {
    margin-top: vw(15);
}
.photo__items {
    margin: vw(25) vw(-10);

}
.photo__item {
    margin: 0 vw(10);
    .photo__img{
        width: vw(380);
        height: vw(325);
        img{
            display: block;
            width: 100%;
        }
    }
}

// form--second 
.form--second{
    .text{
        margin-top: vw(15);
    }
}
.form__descr--second{
    margin-top: vw(20);
    opacity: 0.5;
    a{
        color: #222222;
    }
}
.form__inner--second{
    position: relative;
    overflow: hidden;

}
.form__inner--second::before{
    content: "</form>";
    font-family: $font-1;
    position: absolute;
    bottom: 0;
    right: 0;


    font-weight: 800;
    font-size: vw(70);
    line-height: vw(50);
    text-transform: uppercase;

    color: #5693FF;

    opacity: 0.1;

}

// map 

.map__head {
    display: flex;
    flex-wrap: wrap;
    margin-top: vw(60);
}
.map__head-title,
.map__head-data {
    width: 50%;
    padding-right: vw(100);
}


.map__head-descr {
    margin-top: vw(15);
}
.map__item{
    margin-top: vw(55);
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin:vw(40) 0;


    &__item{
        width: 16.6%;
        height: vw(197);
        margin-top: vw(-1);
        cursor: pointer;
        

        img{
            display: block;
            height: 100%;
            width: 100%;
        }
    }
}

// footer 
.footer {
    background-color: #222222;
    padding: vw(40) 0;
    position: relative;
    overflow: hidden;
}
.footer::before{
    content: "<footer>";
    position: absolute;
    top: vw(-5);
    right: 0;

    font-family: $font-1;
    font-style: normal;
    font-weight: 800;
    font-size: vw(30);
    line-height: vw(30);
    text-align: right;
    text-transform: uppercase;

    color: #FFFFFF;

    opacity: 0.05;
}
.footer__contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer__soc {
    display: flex;
    flex-wrap: wrap;
    width: 33%;
}
.footer__soc-vk,
.footer__soc-inst {
    margin-right: vw(20);
    cursor: pointer;
    transition: all .2s;
    width: vw(40);
    height: vw(40);
    img{
        display: block;
        width: 100%;
        height: 100%;
    }

}
.footer__soc-vk:hover,
.footer__soc-inst:hover{
    opacity: 0.5;
}
.footer__address {
    color: #5693FF;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 66%;

    .dl-link{
        width: vw(280);
        font-family: $font-2;
        font-style: normal;
        font-weight: bold;
        font-size: vw(16);
        line-height: vw(20);
        text-align: right;
        text-decoration: none;
        color: #5693FF;
    }
    .tel{
        width: vw(200);
        text-align: right;
        text-decoration: none;

        font-family: $font-2;
        font-weight: bold;
        font-size: vw(24);
        line-height: vw(30);

        text-align: right;

        color: #5693FF;

    }
}
.footer__copy {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    color: #ffffff;
    margin-top: vw(40);
}
.footer__copy-info {
    display: flex;
    flex-wrap: wrap;

    p{
        margin-right: vw(40);
    }
}
.footer__copy-dl {
    opacity: 0.5;
}










// POPUP
// =======================================================
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(#222, 0.7);
    top: 0;
    left: 0;
    z-index: 60;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}
.popup:target{
    opacity: 1;
    visibility: visible;
}
.popup__area{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.popup__content {
    padding: vw(50) vw(20) vw(20) vw(20);
    margin: vw(20);

    background-color: #fff;
    position: relative;
    
    .btn{
        width: max-content;
        padding-right: vw(40);
        padding-left: vw(40);
        margin-top: vw(25);
    }
}
.popup__close {
    width: vw(21);
    height: vw(21);
    position: absolute;
    right: vw(20);
    top: vw(20);

}

.poput__text {
    margin-top: vw(15);
}

@media (max-width: 1024px) {

   
    .popup__content {
        padding: vmin(50) vmin(20) vmin(20) vmin(20);
        margin: vmin(20);
        .btn{
            padding-right: vmin(40);
            padding-left: vmin(40);
            margin-top: vmin(25);
        }
    }
    .popup__close {
        width: vmin(21);
        height: vmin(21);
        right: vmin(20);
        top: vmin(20);
    }

    .poput__text {
        margin-top: vmin(15);
    }
}




@import 'adaptive';






